.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
    padding: 1px 15px;
    color: #A0A0A0;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
#footer{
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: black;
    height: 6vh;
    width: 100%;
    font-family: Cambria;
    color: white;
    padding-top: 10px;
    font-weight: bold;
}